body{
  font-family: Arial;
}

.container h1 {
  text-align: center;

}

.container{
  max-width: 60vw;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
}

select{
  width: 99.5% !Important;
  height: 40px !Important;
  display: block;

}

input, select{
  margin: 10px 0;
}

label[for="email"], label[for="name"], input[type="text"], input[type="email"] {
  width: 98.5%;
  display: block;
  height: 30px;
}

label[for="email"], label[for="name"], p{
  font-weight: bold;
}

input:focus, textarea:focus{
  outline: none;
  border-color: orange;
}


input:invalid, select:invalid, textarea:invalid{
  outline: none;
  border-color: red;
}

input:valid, select:valid, textarea:valid{
  outline: none;
  border-color: green;
}

button:hover {
  background-color: darkgreen;
}


.radio-group input[type="radio"]:checked{
  border-color: green;
  background-color: green;
  box-shadow: 0 0 5px green;

}

.radio-group input[type="radio"]:checked + label {
  color: green;
}

input:first-of-type{
  border-radius: 0px;
}

fieldset{
  margin-top: 15px;
  margin-bottom: 15px;
}

textarea, button{
  display: block;
  margin-bottom: 15px;
  width: 99%;
  margin-right: auto;
  margin-left: auto;
}
button{
  height: 40px;
}

textarea{
  height: 150px;
}