body{
  font-family: Arial;
  background-color: deepskyblue;
}

.form-container{
  background-color: #feeeee;
  border-radius: 30px;
  padding: 10px;
  width: 40vw;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
  
}

h2{
  margin-top: 30px;
}


label{
  margin: 10px;
  color: black;
  padding: 10px;
}

input{
  color: black;
  width: 60%;
  padding: 5px;
  display: block;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

textarea{
  margin: 0 auto;
  color: black;
  width: 60%;
  padding: 5px;
  display: block;
  resize: vertical;
}

button{
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgb(187, 212, 237);
  font-size: 1.2em;
  width: 100px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  height: 40px
}
button:hover{
  background-color: rgb(146, 198, 249);
}